//Colors and other fix
.black {
  color: black;
}

.red {
  font-weight: bold;
  color: red;
}

.red-bg {
  @extend .red;
  background: red;
  color: white;
}

.center {
  @include text(center);
  font-size: 16px;
}

.small {
  font-size: 14px;
}